// var
$transition: 0.3s cubic-bezier(0.66, 0, 0.34, 1);

:root {
  --color-base: #555;
  --color-light: #f8f9fd;
  --color-purple-light: #e9e7fd;
  --color-white: rgb(245, 245, 245);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $transition;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--color-base);
  background: var(--color-white);
  font-family: sans-serif;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  perspective: 1px;
  z-index: 10002;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-white);
  opacity: 1;
  visibility: visible;
  transition: 0s;

  &.loadHidden {
    visibility: hidden;
    opacity: 0;
    transition: $transition;
    transition-delay: 1s;
  }

  .dot-spinner {
    --uib-size: 40px;
    --uib-speed: .9s;
    --uib-color: #887eef;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-size);
    width: var(--uib-size);
    opacity: 0;
    visibility: hidden;
    transition: $transition;
    pointer-events: none;
    animation: fadeInSpinner 0.3s cubic-bezier(0.66, 0, 0.34, 1) 0.3s 1 both;

    &__dot {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      width: 100%;

      &::before {
        content: '';
        height: 20%;
        width: 20%;
        border-radius: 50%;
        background-color: var(--uib-color);
        transform: scale(0);
        opacity: 0.5;
        animation: pulse calc(var(--uib-speed) * 1.111) ease-in-out infinite;
      }

      &:nth-child(2) {
        transform: rotate(45deg);

        &::before {
          animation-delay: calc(var(--uib-speed) * -0.875);
        }
      }

      &:nth-child(3) {
        transform: rotate(90deg);

        &::before {
          animation-delay: calc(var(--uib-speed) * -0.75);
        }
      }

      &:nth-child(4) {
        transform: rotate(135deg);

        &::before {
          animation-delay: calc(var(--uib-speed) * -0.625);
        }
      }

      &:nth-child(5) {
        transform: rotate(180deg);

        &::before {
          animation-delay: calc(var(--uib-speed) * -0.5);
        }
      }


      &:nth-child(6) {
        transform: rotate(225deg);

        &::before {
          animation-delay: calc(var(--uib-speed) * -0.375);
        }
      }

      &:nth-child(7) {
        transform: rotate(270deg);

        &::before {
          animation-delay: calc(var(--uib-speed) * -0.25);
        }
      }

      &:nth-child(8) {
        transform: rotate(315deg);

        &::before {
          animation-delay: calc(var(--uib-speed) * -0.125);
        }
      }
    }
  }

  @keyframes pulse {

    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }

    50% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeInSpinner {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

.u-text-center {
  text-align: center;
}

.container {
  max-width: 118rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 4rem;
}

.header {
  // background: var(--color-purple-light);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-nav {
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    li+li {
      margin-left: 1.5rem;
      border-left: 1px solid var(--color-base);
      padding-left: 1.5rem;
    }

    &__link {
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid transparent;

      &:hover {
        border-bottom-color: var(--color-base);
      }
    }
  }
}

.footer {
  text-align: center;
  background: var(--color-purple-light);
  padding: 2rem 0;
}

.main {
  padding: 4rem 0;
}

.c-headline-lv2 {
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 5rem;
}

.news,
.column,
.notes {
  padding: 4rem 0;
}

.c-tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;

  &__wrap {
    max-width: 50rem;
    margin: 4rem auto;
  }

  &__item {
    width: calc(33.33333% - 1rem);
    background: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-size: 125%;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: $transition;

    &:hover,
    &.active {
      background: var(--color-base);
      color: var(--color-white);
    }
  }
}

.c-newsList {
  border-bottom: 1px solid var(--color-purple-light);
  max-width: 70rem;
  margin: 0 auto;

  &__item {
    border-top: 1px solid var(--color-purple-light);
    padding: 2rem 0;
  }

  &__contents {
    display: block;
    padding: 1rem calc(2.4rem + 1rem) 1rem 1rem;
    position: relative;
    border-radius: 0.6rem;
    overflow: hidden;
    background: transparent;
    transition: $transition;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  dd {
    font-weight: bold;
  }

  &__label {
    display: flex;
    padding-left: 0.5rem;

    li {
      color: var(--color-white);
      font-size: 1.2rem;
      line-height: 1.75;
      display: inline-block;
      padding: 0 1rem;
      background: var(--color-base);
      border-radius: 2rem;
      margin-left: 0.5rem;
    }
  }

  a.c-newsList__contents {
    position: relative;

    &:hover {
      background: var(--color-purple-light);
    }

    &::after {
      content: "";
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url("../images/common/icon_arrow_right_black.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &:hover {
      dd {
        text-decoration: underline;
      }
    }
  }

  a[target="_blank"].c-newsList__contents::after {
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    background-image: url("../images/common/icon_external_link_bk.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%)
  }

}

.btn {
  margin: 5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    border: 3px solid var(--color-base);
    box-shadow: 0 0 10px 2px rgba(#333, 0.2);
    font-size: 120%;
    font-weight: bold;
    display: block;
    padding: 1rem 2rem;
    width: 30rem;
    text-align: center;
    border-radius: 0.6rem;
    transition: $transition;
    position: relative;

    &::after {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      content: "";
      width: 2rem;
      height: 2rem;
      background: url("../images/common/icon_arrow_right_black.svg") no-repeat center center / 100% 100%;
      transition: $transition;
    }

    &:hover {
      background: var(--color-base);
      color: var(--color-white);

      &::after {
        background-image: url("../images/common/icon_arrow_right_white.svg");
      }
    }
  }
}

.js-effect {
  opacity: 0;
  visibility: hidden;
  transition: $transition;

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.c-columnList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem -3rem;

  &__item {
    width: 33.3333%;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
  }
}

.c-card {
  display: block;
  height: 100%;
  background: var(--color-light);
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(#333, 0);

  &__inner {
    display: flex;
    flex-direction: column-reverse;
  }

  &__textContents {
    padding: 1.5rem;
  }

  &__title {
    font-size: 120%;
  }

  &__tagList {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  &__tag {
    margin-top: 0.5rem;
    background: var(--color-base);
    color: var(--color-white);
    padding: 0.4rem 1.5rem;
    font-size: 80%;
    border-radius: 0.4rem;
  }

  &__image {
    overflow: hidden;
    filter: brightness(0.9);
  }

  img {
    transition: $transition;
  }

  &:hover {
    opacity: 1;
    box-shadow: 0 0 10px 2px rgba(#333, 0.2);

    img {
      transform: scale(1.05);
    }
  }
}

.l-row-sidebar {
  display: grid;
  grid-template-columns: calc(100% - 30rem - 6rem) 30rem;
  gap: 6rem;
  padding-top: 4rem;

  .c-columnList__item {
    width: 50%;
  }
}

.c-sidebar {
  &__title {
    font-size: 150%;
    margin-bottom: 2rem;
  }
}

.c-linkList {
  display: grid;
  gap: 1.5rem;

  li {
    &:nth-child(n+2) {
      border-top: 1px solid var(--color-light);
      padding-top: 1.5rem;
    }
  }

  dl {
    display: flex;
    align-items: center;

    dt {
      width: 15rem;
      flex-shrink: 0;

      figure {
        overflow: hidden;
        filter: brightness(0.9);

        img {
          transition: $transition;
        }
      }
    }

    dd {
      flex-grow: 1;
      padding-left: 1rem;
      line-height: 1.4;
    }
  }

  a {
    display: block;

    &:hover {
      dl {
        dt {
          figure {
            img {
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }

  &--underLine {
    gap: 0;

    li {
      &:nth-child(n+2) {
        border-top: none;
      }
    }
  }

  &__contents {
    text-align: left;
    display: block;
    width: 100%;
    font-size: 105%;
    padding: 1.6rem calc(0.8rem + 2.4rem + 0.4rem) 1.6rem 1.6rem;
    background-color: transparent;
    border: 1px solid var(--color-base);
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    transition: $transition;

    &::after {
      content: "";
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      background-image: url("../images/common/icon_arrow_right_black.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      right: 0.8rem;
      transform: translateY(-50%);
      transition: $transition;
    }

    &.active,
    &:hover {
      background: var(--color-base);
      color: var(--color-white);

      &::after {
        transform: translate(0.4rem, -50%);
        background-image: url("../images/common/icon_arrow_right_white.svg");
      }
    }
  }
}

.c-post {
  .c-postEditor {
    p {
      margin-top: 0.5em;
      margin-bottom: 1.5em;
    }

    h2 {
      font-size: 172%;
      line-height: 1.5;
      margin-top: 2.5em;
      margin-bottom: 1.5em;
      padding: 0 0.6em 0.1em 0.6em;
      border-left: 0.8rem solid var(--color-base);
      border-bottom: 1px solid var(--color-base);
    }

    h3 {
      font-size: 150%;
      line-height: 1.5;
      margin-top: 1.6em;
      margin-bottom: 1.2em;
      padding: 0 0 0.2em;
      border-bottom: 1px solid var(--color-base);
    }

    figure {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    figcaption {
      font-size: 90%;
      margin-top: 0.5em;
    }
  }
}

.p-columnPostCategories {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    a {
      padding: 1rem 1.5rem 1rem;
      color: var(--color-white);
      background-color: var(--color-base);
      display: block;
      border-radius: 3rem;
      line-height: 1;
      border: 1px solid var(--color-base);

      &:hover {
        color: var(--color-base);
        background: var(--color-white);
      }
    }
  }
}

.p-columnPostTitle {
  font-size: 200%;
  font-weight: 900;
  line-height: 1.5;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.6rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.p-columnPostDate {
  display: flex;
  gap: 2.4rem;
}

.c-iconText {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;

  &__icon {
    width: 1.25em;
    height: 1.25em;
  }

  span {
    font-size: 0.875em;
  }
}

.p-columnPostHeader {
  padding-bottom: 0.8rem;
  margin-bottom: 4.8rem;
}

.c-post {
  margin-top: 3em;
}

.c-childPageTitle {
  margin-top: -4rem;
  background: var(--color-purple-light);
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  font-size: 250%;
}

.pagination-column {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-base);
    color: var(--color-base);
    border-radius: 0.5rem;
    font-size: 90%;
    cursor: pointer;
    transition: $transition;
    background: var(--color-white);
    margin: 4rem 0.75rem;

    &--prev,
    &--next {
      width: 5rem;
    }

    &:hover,
    &.active {
      background: var(--color-base);
      color: var(--color-white);
    }
  }
}

pre {
  width: 100%;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 2.66666667vw;
  }

  body {
    font-size: 1.3rem;
  }

  .container {
    padding: 0 2rem;
  }

  .header {
    &__inner {
      display: block;
      justify-content: space-between;
      align-items: center;
    }

    &-logo {
      padding: 0.5rem;
      text-align: center;

      a {
        font-size: 2.2rem;
      }
    }

    &-nav {
      padding-top: 1rem;

      li+li {
        margin-left: 2rem;
        padding-left: 2rem;
      }
    }
  }

  .main {
    padding: 3rem 0;
  }

  .c-headline-lv2 {
    font-size: 180%;
    margin-bottom: 3rem;
  }

  .news,
  .column,
  .notes {
    padding: 3rem 0;
  }

  .c-tab {
    border-radius: 1rem 1rem 0 0;

    &__wrap {
      margin: 3rem auto;
    }

    &__item {
      width: calc(33.33333% - 0.5rem);
      height: 3.6rem;
      font-size: 115%;
      padding-top: 0.2rem;
    }
  }

  .c-newsList {
    &__item {
      padding: 1rem 0;
    }

    &__head {
      margin-bottom: 0.3rem;
    }

    &__label {
      li {
        font-size: 1.1rem;
      }
    }

    a.c-newsList__contents {
      &::after {
        width: 2rem;
        height: 2rem;
      }
    }

    a[target="_blank"].c-newsList__contents::after {
      width: 1.4rem;
      height: 1.4rem;
      right: 0.5rem;
    }
  }

  .btn {
    margin: 3rem 0 0;

    &__link {
      font-size: 110%;
      padding: 0.5rem 1rem;
      width: 20rem;
    }
  }

  .c-columnList {
    display: block;
    margin: 0;

    &__item {
      width: 100%;
      padding: 0;
      margin-bottom: 2rem;
    }
  }

  .c-card {
    &__inner {
      display: flex;
      flex-direction: column-reverse;
    }

    &__textContents {
      padding: 1rem 1.5rem;
    }

    &__title {
      font-size: 120%;
    }

    &__tag {
      margin-top: 0.3rem;
    }
  }

  .l-row-sidebar {
    display: block;
    padding-top: 0;

    .c-columnList__item {
      width: 100%;
    }
  }

  .c-sidebar {
    margin-top: 3rem;
    border-top: 5px solid var(--color-base);
    padding-top: 3rem;

    &__title {
      font-size: 130%;
      margin-bottom: 1.5rem;
    }
  }

  .c-linkList {
    display: flex;
    flex-wrap: wrap;
    gap: 0;

    li {
      width: 100%;
      padding: 1rem 0;

      &:first-child {
        padding-top: 0;
      }
    }

    dl {
      display: flex;
      align-items: center;

      dt {
        width: 14rem;
      }

      dd {
        font-size: 110%;
        padding-left: 1.5rem;
      }
    }

    &--underLine {
      li {
        padding: 0.75rem 0;

        &:nth-child(n+2) {
          padding-top: 0;
        }
      }
    }

    &__contents {
      width: 100%;
      height: 100%;
      font-size: 95%;
      padding: 1.2rem calc(0.4rem + 2rem + 0.3rem) 1.2rem 1.2rem;

      &::after {
        width: 2rem;
        height: 2rem;
        right: 0.3rem;
      }
    }
  }

  .c-post {
    .c-postEditor {
      p {
        margin-top: 0.5em;
        margin-bottom: 1.5em;
      }

      h2 {
        font-size: 150%;
        padding-top: 0.2rem;
      }

      h3 {
        font-size: 125%;
        margin-bottom: 1em;
        padding: 0 0 0.1em;
      }

      figure {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }

  .p-columnPostCategories {
    gap: 0.5rem;

    li {
      a {
        font-size: 85%;
        padding: 0.7rem 1.5rem 0.5rem;
      }
    }
  }

  .p-columnPostTitle {
    font-size: 160%;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .p-columnPostHeader {
    margin-bottom: 3rem;
  }

  .c-post {
    margin-top: 3em;
  }

  .c-childPageTitle {
    margin-top: -1rem;
    padding: 2rem 1rem;
    min-height: 11rem;
    font-size: 180%;
  }
}